body {
  background-color: #39289f;
  color: white;
  font-family: "Poppins";
  padding: 0;
  margin: 0;
}

#error-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* ============================ SECTION 1 */

#first-text {
  color: #e87d0e;
  font-weight: 900;
  text-shadow: 2px 2px black;
}
h1 {
  font-size: 200%;
}
.more-details-btn {
  display: flex;
  background-color: #fa9021;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.more-details-btn:hover {
  background-color: #f57c00;
}
#componentes {
  position: absolute;
  max-width: 33%;
  height: auto;
  max-height: 60%;
  width: auto;
  flex: 1;
  z-index: -1;
}
#joy_stick {
  position: absolute;
  max-width: 33%;
  height: auto;
  flex: 1;
  max-height: 60%;
  width: auto;
  z-index: -1;
}
.home-images {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  flex: 1;
  max-width: 100%;
  height: auto;
}
.home-text {
  display: flex;
  flex-flow: row wrap;
  text-align: start;
  flex: 1;
}
.home-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 10% 0 10%;
}

/* ============================ SECTION 2*/

.trending-games {
  display: inline-block;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 10% 10% 0 10%;
}
.trending-games div h3 {
  display: flex;
  align-self: flex-start;
}
.trending-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-right: 2%;
}
.see-all-btn {
  display: inline-block;
  align-self: flex-end;
  background-color: #5041aa;
  border: none;
  border-radius: 10%;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  align-self: center;
}
.see-all-btn:hover {
  background-color: #3d2f8c;
}
.currently-trending {
  display: flex;
  flex-flow: row nowrap;
}
.currently-trending p {
  display: block;
  align-self: center;
  text-align: start;
  padding: 0 10% 0 10%;
}
.currently-trending img {
  max-width: 93%;
  height: auto;
  flex: 1;
}

/* ============================ SECTION 3 */

.lorem-image {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 10% 10% 10% 10%;
}
.lorem-image h2 {
  display: flex;
  align-self: center;
  text-align: center;
  padding: 0 20% 0 20%;
}
.lorem-image h3 {
  display: flex;
  align-self: flex-start;
  text-align: start;
}
.lorem-image p {
  display: flex;
  align-self: flex-start;
  text-align: start;
  padding-right: 40%;
}
.lorem-image img {
  max-width: 100%;
  height: auto;
  flex: 1;
}

/* ============================ SECTION 4 */

.bg {
  background-image: url("../img/backimage.png");
  /*filter: brightness(25%);*/
}
.gaming-choises {
  display: flex;
  flex-flow: row wrap;
  padding: 0 10% 0 10%;
  justify-content: space-evenly;
  align-items: center;
  gap: 35px;
}
.gaming-options h2 {
  display: flex;
  align-self: center;
  text-align: center;
  padding: 0 23% 0 23%;
}
.gaming-options p {
  display: flex;
  align-self: center;
  text-align: center;
  padding: 0 14% 0 14%;
}
.gaming-options img {
  max-width: 100%;
  height: auto;
  flex: 1;
}

/* ============================ SECTION 5 */

.text-projects {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 10% 10% 10% 10%;
}
.recent-projects h2 {
  align-self: center;
  text-align: center;
}
.recent-projects p {
  display: flex;
  align-self: center;
  text-align: center;
  padding: 0 20% 0 20%;
}
.project-images {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  padding: 0 10% 0 10%;
}
.recent-projects img {
  max-width: 1400;
  max-height: 700;
  width: auto;
  height: auto;
}
#btn-see {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}
.see-all-button {
  display: inline-block;
  background-color: #5041aa;
  border: none;
  border-radius: 10%;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  align-self: center;
  text-align: center;
}
.see-all-button:hover {
  background-color: #3d2f8c;
}

/* ============================ SECTION 6 */

.stay-in-loop {
  display: flex;
  flex-flow: row wrap;
  padding: 10% 10% 10% 10%;
}
.loop-title {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: self-start;
}
.loop-text {
  display: flex;
  align-self: flex-start;
  text-align: start;
  padding-right: 50%;
  padding-bottom: 5%;
}
#insertEmail {
  display: flex;
  background-color: black;
  border: none;
  border-radius: 10px;
  color: white;
  justify-content: space-around;
}
.email-input {
  display: flex;
  align-items: center;
  padding: 5%;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: black;
}
input {
  border: none;
  background-color: white;
  color: gray;
  padding: 10px 20px;
  font-size: 16px;
  flex: 1;
}
form {
  display: flex;
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}
.email-btn {
  display: inline-block;
  background-color: #fa9021;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.email-btn:hover {
  background-color: #f57c00;
}
.box-title {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}
.box-text {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.email-text {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2% 1% 2% 5%;
}
